<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="color: blue;">
    <ion-fab-button (click)="scrollToTop()"> 
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    </ion-fab>
    
    <nav class="navbar navbar-expand-lg navbar-light blue">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">
        <img src="..//../assets/startup2.png" style="height: 45px;width: 189px;">
      </a>
    
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span class="navbar-toggler-icon" style="font-size: 20px;"></span>-->
        <i class="fa fa-bars" style="color:#fff; font-size:23px;"></i>
      </button>
    
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
    
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">START BUSINESS</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/pvt" style="color: black;">Private Limited Company</a>
              <a class="dropdown-item" routerLink="/one-person" style="color: black;">One Person Company</a>
              <a class="dropdown-item" routerLink="/lmtd" style="color: black;">Limited Liability Partnership</a>
              <a class="dropdown-item" routerLink="/gst" style="color: black;">GST Registration</a>
              <a class="dropdown-item" routerLink="/pub-lmtd" style="color: black;">Public Limited Company</a>
              <a class="dropdown-item" routerLink="/section" style="color: black;">Section 8 NGO Company</a>
            </div>
          </li>
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">PROTECT BUSINESS</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/trade-reg" style="color: black;">Trademark Registration</a>
          <a class="dropdown-item" routerLink="/reply-trade" style="color: black;">Reply to Trademark Objection</a>
          <a class="dropdown-item" routerLink="/renew-trade" style="color: black;">Renew Your Trademark</a>
          <a class="dropdown-item" routerLink="/licence-trade" style="color: black;">Licence Your Trademark</a>
          <a class="dropdown-item" routerLink="/sell-trade" style="color: black;">Sell Your Trademark</a>
          <a class="dropdown-item" routerLink="/cpy-rght" style="color: black;">Copyright Registration</a>
          <a class="dropdown-item" routerLink="/rply-cpyrght" style="color: black;">Reply to Copyright Objection</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">MANAGE BUSINESS</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/roc-trade" style="color: black;">ROC Return Filing for Pvt.Ltd.</a>
          <a class="dropdown-item" routerLink="/roc-opc" style="color: black;">ROC Return Filing for OPC</a>
          <a class="dropdown-item" routerLink="/roc-llp" style="color: black;">ROC Return Filing for LLP</a>
          <a class="dropdown-item" routerLink="/apptmnt" style="color: black;">Appointment of Director</a>
          <a class="dropdown-item" routerLink="/resgn" style="color: black;">Resignation of Director</a>
          <a class="dropdown-item" routerLink="/chgaddrs" style="color: black;">Change in Office Address</a>
          <a class="dropdown-item" routerLink="/inc-capital" style="color: black;">Increasing Capital of Company</a>
          <a class="dropdown-item" routerLink="/closure" style="color: black;">Closure of Pvt.Ltd</a>
          <a class="dropdown-item" routerLink="/c-opc" style="color: black;">Closure of OPC</a>
          <a class="dropdown-item" routerLink="/c-llp" style="color: black;">Closure of LLP</a>
            </div>
          </li>
    
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">GROW BUSINESS</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/iso" style="color: black;">ISO Certification</a>
          <a class="dropdown-item" routerLink="/msme" style="color: black;">MSME/SSI Registration</a>
            </div>
          </li>
    
        </ul>
        
      </div>
      <!-- Collapsible content -->
    </nav>



  <div class="container" style="text-align: center;">
  
    <h2 style="margin-bottom: 50px;">OVERVIEW</h2>
  
    <div class="row">
        
  <div class="col-sm-6">
  
    <h3 style="text-align: center;font-weight: bold;font-size: 24px;">GST Registration</h3>
    <h4 style="text-align: center;font-weight: bold;font-size: 24px;">at ₹ 1,999*</h4>
    <br>
  
    <p style="text-align: center;font-size: 15px;">Any time. Any where. At Single click</p><br>
    <p style="text-align: center;font-size: 15px;">Also Get Absolutely Free</p>
  
    <br>
  <p style="text-align: center;">Rank #1</p>
  
  <div class="container1" style="text-align: center;">
  
  <img src="https://www.startupwala.com/images/pan-tan-registration.svg" style="width: 100px;height: 60px;">
 
  </div>

  <div class="container1" style="text-align: center;">
  <p style="font-size: 14px;margin-left: 10px;">Online Legal Services Platform in india</p>
  <p style="font-size: 14px;margin-top: 0em;margin-left: 10px;">Easy | Quick | Affordable | Online</p>
  </div>
    </div>
  
      <div class="col-md-6">
  
        <img src="..//../assets/gst.jpg" style="width: 600px;height: 310px;">
    </div>
  </div>
  
  </div>
    
  
  <div class="container">

  <h3 style="text-align: center;margin-top:50px;margin-bottom: 40px;">ELIGIBILITY FOR GST REGISTRATION</h3>
   

  <div class="trade" style="margin: 0 auto;">
    <div class="card">
      <div class="card-header" style="background-color: white;">
         <ion-item lines="none">
              <div class="new">
            <img src="https://www.startupwala.com/images/upon-reaching-turnover-of-20-lakh.svg" 
            class="image" >
              </div>
              <div class="new1" style="text-align: center;" (click)="toggleGroup(i)"  >
                <p style="font-size: 16px;">Upon Reaching Turnover of 20 Lakh:</p>
              </div>
              <div style="margin-top: 15px;" (click)="toggleGroup(i)" slot="end">
        <i [ngClass]="isGroupShown(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
         </div> </ion-item>            
        </div>
      <div class="card-body" *ngIf="isGroupShown(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
        If your current supply of goods or service is over Rs. 20 lakh, you need to obtain GST Registration
        (if your business operates exclusively in the North Eastern states, Rs. 10 lakh).             
    </div>
    </div>
    </div>
<br>

<div class="trade" style="margin: 0 auto;">
  <div class="card">
    <div class="card-header" style="background-color: white;">
       <ion-item lines="none">
            <div class="new">
          <img src="https://www.startupwala.com/images/inter-state-sales.svg" 
          class="image" >
            </div>
            <div class="new1" style="text-align: center;" (click)="toggleGroup1(i)"  >
              <p style="font-size: 16px;">Better image and credibility in MarketInter-State Sales or Service provider:</p>
            </div>
            <div style="margin-top: 15px;" (click)="toggleGroup1(i)" slot="end">
      <i [ngClass]="isGroupShown1(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
       </div> </ion-item>            
      </div>
    <div class="card-body" *ngIf="isGroupShown1(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
      Anyone supplying goods or services to another state, need to apply for GST regardless of turnover.
           Even online service provider serving customers in another State will instantly attract GST 
           registration.            
  </div>
  </div>
  </div>
<br>

<div class="trade" style="margin: 0 auto;">
  <div class="card">
    <div class="card-header" style="background-color: white;">
       <ion-item lines="none">
            <div class="new">
          <img src="https://www.startupwala.com/images/e-commerce-operator.svg" 
          class="image" >
            </div>
            <div class="new1" style="text-align: center;" (click)="toggleGroup2(i)"  >
              <p style="font-size: 16px;">E-commerce operator:</p>
            </div>
            <div style="margin-top: 15px;" (click)="toggleGroup2(i)" slot="end">
      <i [ngClass]="isGroupShown2(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
       </div> </ion-item>            
      </div>
    <div class="card-body" *ngIf="isGroupShown2(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
      Who owns, operates of manages digital platform for e-commerce. Eg: Flipkart, Amazon etc.              
          
  </div>
  </div>
  </div>
<br>

<div class="trade" style="margin: 0 auto;">
  <div class="card">
    <div class="card-header" style="background-color: white;">
       <ion-item lines="none">
            <div class="new">
          <img src="https://www.startupwala.com/images/vendors-selling-through-e-commerce-portals.svg" 
          class="image" >
            </div>
            <div class="new1" style="text-align: center;" (click)="toggleGroup3(i)"  >
              <p style="font-size: 16px;">Vendors selling through Ecommerce Portals:</p>
            </div>
            <div style="margin-top: 15px;" (click)="toggleGroup3(i)" slot="end">
      <i [ngClass]="isGroupShown3(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
       </div> </ion-item>            
      </div>
    <div class="card-body" *ngIf="isGroupShown3(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
      Persons who supply goods or services through ecommerce sites              
          
  </div>
  </div>
  </div>
<br>

<div class="trade" style="margin: 0 auto;">
  <div class="card">
    <div class="card-header" style="background-color: white;">
       <ion-item lines="none">
            <div class="new">
          <img src="https://www.startupwala.com/images/non-resident-person-importer.svg" 
          class="image" >
            </div>
            <div class="new1" style="text-align: center;" (click)="toggleGroup4(i)"  >
              <p style="font-size: 16px;">Non- Residents & Importers:</p>
            </div>
            <div style="margin-top: 15px;" (click)="toggleGroup4(i)" slot="end">
      <i [ngClass]="isGroupShown4(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
       </div> </ion-item>            
      </div>
    <div class="card-body" *ngIf="isGroupShown4(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
      Any Non-resident person or company supplying goods or services in India need to take the
      registration regardless of turnover.             
          
  </div>
  </div>
  </div>
<br>

<div class="trade" style="margin: 0 auto;">
  <div class="card">
    <div class="card-header" style="background-color: white;">
       <ion-item lines="none">
            <div class="new">
          <img src="https://www.startupwala.com/images/supplier-of-online-information.svg" 
          class="image" >
            </div>
            <div class="new1" style="text-align: center;" (click)="toggleGroup5(i)"  >
              <p style="font-size: 16px;">Supplier of Online Information:</p>
            </div>
            <div style="margin-top: 15px;" (click)="toggleGroup5(i)" slot="end">
      <i [ngClass]="isGroupShown5(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
       </div> </ion-item>            
      </div>
    <div class="card-body" *ngIf="isGroupShown5(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
      Any person supplying online information and database services from outside India to a person 
      in India need to register irrespective of turnover        
          
  </div>
  </div>
  </div>
<br><br>
      </div>
                          
  <div class="container">

  <h3 style="text-align: center;margin-top:30px;margin-bottom: 20px;">DOCUMENTS FOR GST REGISTRATION</h3>
  
    <div class="Deliverables ">
    <div class="row justify-content-center">
        
      <!-- Grid column -->
  <div class="col-sm-3" style="text-align: left;">
  
  <!-- Links -->
  <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
  
  <ul class="list-unstyled">
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
      <p style="font-size: 17px;margin-bottom: 30px;">Pvt. Ltd. /Public Ltd./OPC</p>
    </li>
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
      <p style="font-size: 17px;margin-bottom: 30px;">Company PAN card</p>
    </li>
      <li style="font-size: 18px;display: flex;
      margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
      <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
      <p style="font-size: 17px;margin-bottom: 10px;">MOA, AOA & Incorporation Certificate</p>
    </li>
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
       <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
       <p style="font-size: 17px;margin-bottom: 30px;">Company Address Proof</p>
     </li>
    </ul>
    
    </div>
    <!-- Grid column -->
    
    <!-- Grid column -->
    <div class="col-sm-4" style="text-align: left;">
    
    <!-- Links -->
    <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
    
    <ul class="list-unstyled">
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
      <p style="font-size: 17px;margin-bottom: 30px;">LLP & Partnership Firm
     </p>
    </li>
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
      <p style="font-size: 17px;margin-bottom: 30px;"> Firm PAN card</p>
    </li>
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
       <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
       <p style="font-size: 17px;margin-bottom: 30px;">LLP Agreement/ Partnership deed</p>
     </li>
     <li style="font-size: 18px;display: flex;
     margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
       <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
       <p style="font-size: 17px;margin-bottom: 30px;">Firm Address Proof</p>
     </li>
    </ul>
    </div>
    
    <div class="col-sm-3" style="text-align: left;">
    
      <!-- Links -->
      <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
      
      <ul class="list-unstyled">
      <li style="font-size: 18px;display: flex;
      margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
        <p style="font-size: 17px;margin-bottom: 30px;">Proprietorship Firm
       </p>
      </li>
      <li style="font-size: 18px;display: flex;
      margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
        <p style="font-size: 17px;margin-bottom: 30px;"> Proprietor's PAN card</p>
      </li>
      <li style="font-size: 18px;display: flex;
      margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
        <p style="font-size: 17px;margin-bottom: 30px;">Shop Act / Ghumasta License</p>
      </li>
      <li style="font-size: 18px;display: flex;
      margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
        <p style="font-size: 17px;margin-bottom: 30px;">Address proof of Firm</p>
      </li>      
      </ul>
    
    </div>
  <!-- Grid column -->
  
  </div>
  </div></div>
  
  <div class="container">

  <h3 style="text-align: center;margin-top:30px;margin-bottom: 50px;">FAQS</h3>
  
  
  <div class="faqs" style="margin: auto;">
        <div class="card">        
      <div class="card-header" style="background-color: white;">
         <ion-item lines="none">
              <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
              (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" >
                <p style="font-size: 16px;">1. What are the benefits of GST in India?
                </p>
              </div>
              <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
              (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
        <i [ngClass]="isGroupShown(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                 </div>
                </ion-item>
                </div>
      <div class="card-body" *ngIf="isGroupShown(i)" >                  
        <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
          Many Indirect taxeslike VAT, Excise Duty, Service Tax, CST, Import- Export, Octroi, Luxury Tax and Entertainment Tax is now only require a GST registration. This will result in less compliances and help businesses to focus more into their business.

        </p>                
    </div>
    </div>
    </div><br>
  
    <div class="faqs" style="margin: auto;">
      <div class="card">        
        <div class="card-header" style="background-color: white;">
           <ion-item lines="none">
                <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}" >
                  <p style="font-size: 16px;">2. What are the GST Rates in India?
                  </p>
                </div>
                <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}">
          <i [ngClass]="isGroupShown1(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                   </div>
                  </ion-item>
                  </div>
        <div class="card-body" *ngIf="isGroupShown1(i)" >                  
          <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
            The GST rate will depend on the type of goods and services. Currently, the slab rates are 5%, 12%, 18% and 28%. Gold and rough diamonds do
             not currently fall under GST and will be taxed at 3% and 0.25%
          </p>                
      </div>
      </div>
      </div><br>

           </div>
            <br><br>
            <footer class="page-footer font-small blue pt-4">

              <!-- Footer Elements -->
              <div class="container">
            
                <a class="navbar-brand">  
                  
            <img src="..//../assets/startup2.png" style="height: 40px;width: 180px;">
                  </a>
                <!--Grid row-->
                <div class="row">
            
                  <!--Grid column-->
                  <div class="col-md-6 mb-4">
            
                    <!-- Form -->
                    <form class="form-inline">
                      <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                        aria-label="Search">
                      <i class="fas fa-search" aria-hidden="true"></i>
                    </form>
                    <!-- Form -->
            
                  </div>
                  <!--Grid column-->
            
                  <!--Grid column-->
                  <div class="col-md-6 mb-4">
            
                    <form class="input-group">
                      <input type="text" class="form-control form-control-sm mr-3 w-50" placeholder="Your email"
                        aria-label="Your email" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-white my-0" type="button">Send</button>
                      </div>
                    </form>
            
                  </div>
                  <!--Grid column-->
            
                </div>
                <!--Grid row-->
            
              </div>
              <!-- Footer Elements -->
            
              <!-- Copyright -->
              <div class="footer-copyright text-center py-2">© 2020 Copyright:
                <a href="https://www.proacscentglobal.com/"> Proascent.com</a>
              </div>
              <!-- Copyright -->
            
            </footer>
  
  </ion-content>
  
  
  
  