<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="color: blue;">
    <ion-fab-button (click)="scrollToTop()"> 
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    </ion-fab>
    
    <nav class="navbar navbar-expand-lg navbar-light blue">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">
        <img src="..//../assets/startup2.png" style="height: 45px;width: 189px;">
      </a>
    
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span class="navbar-toggler-icon" style="font-size: 20px;"></span>-->
        <i class="fa fa-bars" style="color:#fff; font-size:23px;"></i>
      </button>
    
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
    
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">START BUSINESS</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/pvt" style="color: black;">Private Limited Company</a>
              <a class="dropdown-item" routerLink="/one-person" style="color: black;">One Person Company</a>
              <a class="dropdown-item" routerLink="/lmtd" style="color: black;">Limited Liability Partnership</a>
              <a class="dropdown-item" routerLink="/gst" style="color: black;">GST Registration</a>
              <a class="dropdown-item" routerLink="/pub-lmtd" style="color: black;">Public Limited Company</a>
              <a class="dropdown-item" routerLink="/section" style="color: black;">Section 8 NGO Company</a>
            </div>
          </li>
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">PROTECT BUSINESS</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/trade-reg" style="color: black;">Trademark Registration</a>
          <a class="dropdown-item" routerLink="/reply-trade" style="color: black;">Reply to Trademark Objection</a>
          <a class="dropdown-item" routerLink="/renew-trade" style="color: black;">Renew Your Trademark</a>
          <a class="dropdown-item" routerLink="/licence-trade" style="color: black;">Licence Your Trademark</a>
          <a class="dropdown-item" routerLink="/sell-trade" style="color: black;">Sell Your Trademark</a>
          <a class="dropdown-item" routerLink="/cpy-rght" style="color: black;">Copyright Registration</a>
          <a class="dropdown-item" routerLink="/rply-cpyrght" style="color: black;">Reply to Copyright Objection</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">MANAGE BUSINESS</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/roc-trade" style="color: black;">ROC Return Filing for Pvt.Ltd.</a>
          <a class="dropdown-item" routerLink="/roc-opc" style="color: black;">ROC Return Filing for OPC</a>
          <a class="dropdown-item" routerLink="/roc-llp" style="color: black;">ROC Return Filing for LLP</a>
          <a class="dropdown-item" routerLink="/apptmnt" style="color: black;">Appointment of Director</a>
          <a class="dropdown-item" routerLink="/resgn" style="color: black;">Resignation of Director</a>
          <a class="dropdown-item" routerLink="/chgaddrs" style="color: black;">Change in Office Address</a>
          <a class="dropdown-item" routerLink="/inc-capital" style="color: black;">Increasing Capital of Company</a>
          <a class="dropdown-item" routerLink="/closure" style="color: black;">Closure of Pvt.Ltd</a>
          <a class="dropdown-item" routerLink="/c-opc" style="color: black;">Closure of OPC</a>
          <a class="dropdown-item" routerLink="/c-llp" style="color: black;">Closure of LLP</a>
            </div>
          </li>
    
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">GROW BUSINESS</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/iso" style="color: black;">ISO Certification</a>
          <a class="dropdown-item" routerLink="/msme" style="color: black;">MSME/SSI Registration</a>
            </div>
          </li>
    
        </ul>
        
      </div>
      <!-- Collapsible content -->
    </nav>

  <div class="container" style="text-align: center;">
  
    <h2 style="margin-bottom: 50px;">OVERVIEW</h2>
  
    <div class="row">
        
  <div class="col-sm-6">
  
    <h3 style="text-align: center;font-weight: bold;font-size: 24px;">Reply to Trademark Objection</h3>
    <h4 style="text-align: center;font-weight: bold;font-size: 24px;">at ₹ 1,999*</h4>
    <br>
  
    <p style="text-align: center;font-size: 15px;">Any time. Any where. At Single click</p><br>
    <p style="text-align: center;font-size: 15px;">Also Get Absolutely Free</p>
  
    <div style="text-align: center;">
      <ion-note>
          <img src="https://www.startupwala.com/images/pan-tan-registration.svg"
           style="width: 100px;height: 80px;">
        <ion-label style="text-align: center;margin-left: 20px;">+</ion-label>
      </ion-note>
    
    <ion-note>
      <img src="https://www.startupwala.com/images/mobile_nav_10.png" 
      style="width: 90px;height: 80px;margin-left: 45px;">
    </ion-note>
    
    </div>
  
    <div style="text-align: center;">
  
      <ion-note>
        <ion-label style="font-size: 14px;width: 100px;margin-right: 10px;">09765490218/09765490569</ion-label>
        <ion-label style="text-align: center;"></ion-label>
      </ion-note>
      
    <ion-note>
      <ion-label style="font-size: 14px;">Get 10% Discount</ion-label>
      <ion-label style="text-align: center;"></ion-label>
    </ion-note>
    
    </div>
    
    </div>
  
      <div class="col-md-6">  
        <img src="..//../assets/Trademark-Objection-Reply.jpg" style="width: 600px;height: 310px;">
    </div>
  </div>
  </div>
    
  <div class="container">
  <h3 style="text-align: center;margin-top:50px;margin-bottom: 40px;">BENEFITS OF TRADEMARK REGISTRATION</h3>
   
  <div class="trade" style="margin: 0 auto;">
    <div class="card">
      <div class="card-header" style="background-color: white;">
         <ion-item lines="none">
              <div class="new">
            <img src="https://www.startupwala.com/images/limited-liability-protection-to-directors-personal-assets.svg" 
            class="image" >
              </div>
              <div class="new1" style="text-align: center;" (click)="toggleGroup(i)"  >
                <p style="font-size: 16px;">Protection against Copycats</p>
              </div>
              <div style="margin-top: 15px;" (click)="toggleGroup(i)" slot="end">
        <i [ngClass]="isGroupShown(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
         </div> </ion-item>            
        </div>
      <div class="card-body" *ngIf="isGroupShown(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
        Nobody will dare to copy your brand name once it is a registered trademark             
                
    </div>
    </div>
    </div>
<br>
<div class="trade" style="margin: 0 auto;">
  <div class="card">
    <div class="card-header" style="background-color: white;">
       <ion-item lines="none">
            <div class="new">
          <img src="https://www.startupwala.com/images/registered-brand-is-most-valuable-asset-of-the-company.svg" 
          class="image">
            </div>
            <div class="new1" style="text-align: center;" (click)="toggleGroup1(i)"  >
              <p style="font-size: 16px;">Registered brand is Most valuable asset of the Company
              </p>
            </div>
            <div style="margin-top: 15px;" (click)="toggleGroup1(i)" slot="end">
      <i [ngClass]="isGroupShown1(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
       </div> </ion-item>            
      </div>
    <div class="card-body" *ngIf="isGroupShown1(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
      Many brands in the world value their trademark more than their any other physical assets. Brand value is derived only when the company has 
          absolute right over the brand name through trademark protection              
  </div>
  </div>
  </div>
  <br>

  <div class="trade" style="margin: 0 auto;">
    <div class="card">
      <div class="card-header" style="background-color: white;">
         <ion-item lines="none">
              <div class="new">
            <img src="https://www.startupwala.com/images/icons-04.svg" 
            class="image">
              </div>
              <div class="new1" style="text-align: center;" (click)="toggleGroup2(i)"  >
                <p style="font-size: 16px;">Helps in expansion of business and growth
                </p>
              </div>
              <div style="margin-top: 15px;" (click)="toggleGroup2(i)" slot="end">
        <i [ngClass]="isGroupShown2(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
         </div> </ion-item>            
        </div>
      <div class="card-body" *ngIf="isGroupShown2(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
        Trademark can be rented and royalty can be earned under licensing agreement. Franchising model 
        solely depends upon trademark licensing and transfer.               
    </div>
    </div>
    </div>
    <br>

    <div class="trade" style="margin: 0 auto;">
      <div class="card">
        <div class="card-header" style="background-color: white;">
           <ion-item lines="none">
                <div class="new">
              <img src="https://www.startupwala.com/images/icons-03.svg" 
              class="image">
                </div>
                <div class="new1" style="text-align: center;" (click)="toggleGroup3(i)"  >
                  <p style="font-size: 16px;">Helps in image building and credibility in Market
                  </p>
                </div>
                <div style="margin-top: 15px;" (click)="toggleGroup3(i)" slot="end">
          <i [ngClass]="isGroupShown3(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
           </div> </ion-item>            
          </div>
        <div class="card-body" *ngIf="isGroupShown3(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
          Customers give more preference to registered brands with TM tag               
              
      </div>
      </div>
      </div>
      <br>
          </div>
          <br>
          <br>  
  
    <div class="container">

    <h3 style="text-align: center;margin-top:30px;margin-bottom: 30px;">
      MINIMUM REQUIREMENTS FOR TRADEMARK REGISTRATION</h3>
  
    <div class="Pre-requisites">
    <div class="row justify-content-center">
        
      <!-- Grid column -->
  <div class="col-sm-3" style="text-align: left;">
  
  <!-- Links -->
  <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
  
  <ul class="list-unstyled">
  <li style="font-size: 18px;margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
   <p style="font-size: 17px;margin-bottom: 30px;">
    <i class='far fa-check-circle' style="color: blue;font-size: 17px;margin-right: 10px;"></i>
    Minimum 2 Shareholders</p>
  </li>
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
    <p style="font-size: 17px;margin-bottom: 30px;">One of the Directors must be Indian Resident</p>
  </li>
  <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
    <p style="font-size: 17px;margin-bottom: 30px;">One of the Directors must be Indian Resident</p>
  </li>
  
  </ul>
  
  </div>
  <!-- Grid column -->
  
  <!-- Grid column -->
  <div class="col-sm-4" style="text-align: left;">
  
  <!-- Links -->
  <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
  
  <ul class="list-unstyled">
  <li style="font-size: 18px;display: flex;margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
    <p style="font-size: 17px;margin-bottom: 30px;">One of the Directors must be Indian Resident
   </p>
  </li>
  <li style="font-size: 18px;display: flex;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
    <p style="font-size: 17px;margin-bottom: 30px;">Minimum Authorised Share Capital 100,000 (INR One Lac)</p>
  </li>
  
  </ul>
  </div>
  
  <div class="col-sm-3" style="text-align: left;">
  
    <!-- Links -->
    <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
    
    <ul class="list-unstyled">
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">  
      <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
      <p style="font-size: 17px;">The directors and shareholders can be same person
     </p>
    </li>
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
      <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
      <p style="font-size: 17px;">DIN (Director Identification Number) for all Directors</p>
    </li>
    </ul> 
    </div>
  <!-- Grid column -->
  </div>
  </div></div>
  
  <div class="container">
  <h3 style="text-align: center;margin-top:30px;margin-bottom: 20px;">DELIVERABLES</h3>
  
    <div class="Deliverables ">
    <div class="row justify-content-center">
        
      <!-- Grid column -->
  <div class="col-sm-3" style="text-align: left;">
  
  <!-- Links -->
  <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
  
  <ul class="list-unstyled">
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
      <p style="font-size: 17px;margin-bottom: 30px;">DIN for 2 Directors</p>
    </li>
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
      <p style="font-size: 17px;margin-bottom: 30px;">MOA + AOA</p>
    </li>
      <li style="font-size: 18px;display: flex;
      margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
      <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
      <p style="font-size: 17px;margin-bottom: 10px;">Customized Incorporation Master File</p>
    </li>
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
       <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
       <p style="font-size: 17px;margin-bottom: 30px;">Bank Account Opening Document Support</p>
     </li>
    </ul>
    
    </div>
    <!-- Grid column -->
    
    <!-- Grid column -->
    <div class="col-sm-4" style="text-align: left;">
    
    <!-- Links -->
    <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
    
    <ul class="list-unstyled">
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
      <p style="font-size: 17px;margin-bottom: 30px;">Digital Signature Token for 2 Promoters & 1 witness
     </p>
    </li>
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
      <p style="font-size: 17px;margin-bottom: 30px;">Incorporation Certificate</p>
    </li>
    <li style="font-size: 18px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
       <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
       <p style="font-size: 17px;margin-bottom: 30px;">Company PAN Card</p>
     </li>
     <li style="font-size: 18px;display: flex;
     margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
       <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
       <p style="font-size: 17px;margin-bottom: 30px;">Domain Name + Web Hosting</p>
     </li>
    </ul>
    </div>
    
    <div class="col-sm-3" style="text-align: left;">
    
      <!-- Links -->
      <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
      
      <ul class="list-unstyled">
      <li style="font-size: 18px;display: flex;
      margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
        <p style="font-size: 17px;margin-bottom: 30px;">Company Name Approval
       </p>
      </li>
      <li style="font-size: 18px;display: flex;
      margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
        <p style="font-size: 17px;margin-bottom: 10px;">PF + ESIC + Professional Tax Registration</p>
      </li>
      <li style="font-size: 18px;display: flex;
      margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
        <p style="font-size: 17px;margin-bottom: 30px;">Company TAN/TDS Number</p>
      </li>
      <li style="font-size: 18px;display: flex;
      margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
        <p style="font-size: 17px;margin-bottom: 30px;">+ 10 Email Ids for 1 year</p>
      </li>
      
      </ul>
    
    </div>
  <!-- Grid column -->
  
  </div>
  </div></div>

  <div class="container">
  <h3 style="text-align: center;margin-top:30px;margin-bottom: 50px;">FAQS</h3>

  <div class="faqs" style="margin: auto;">
    <div class="card">        
      <div class="card-header" style="background-color: white;">
         <ion-item lines="none">
              <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
              (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" >
                <p style="font-size: 16px;">1. What is Trademark Objection?

                </p>
              </div>
              <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
              (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
        <i [ngClass]="isGroupShown(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                 </div>
                </ion-item>
                </div>
      <div class="card-body" *ngIf="isGroupShown(i)" >                  
        <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
          Trademark Objection means, the trademark registry has examined or checked your trademark application and while checking, they have reasons to 
          object the application and ask for clarification on certain points. The registry uploads a copy of Examination Report on their official website 
          (trademark application status) and sends a letter to the applicant asking for reply.
          Here the Objection is raised by the Trademark department on its own and there is no third party,
           company or competitor brand which has raised its objection. Such third party raising objection is called
            Trademark Opposition.        </p>                
    </div>
    </div>
    </div><br>
  
    <div class="faqs" style="margin: auto;">
      <div class="card">        
        <div class="card-header" style="background-color: white;">
           <ion-item lines="none">
                <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}" >
                  <p style="font-size: 16px;">2. What is difference between Trademark Examination and Trademark Objection?
                  </p>
                </div>
                <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}">
          <i [ngClass]="isGroupShown1(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                   </div>
                  </ion-item>
                  </div>
        <div class="card-body" *ngIf="isGroupShown1(i)" >                  
          <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
            There is no difference; they are one and the same.

          </p>                
      </div>
      </div>
      </div><br>

      <div class="faqs" style="margin: auto;">
        <div class="card">        
          <div class="card-header" style="background-color: white;">
             <ion-item lines="none">
                  <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                  (click)="toggleGroup2(i)" [ngClass]="{active: isGroupShown2(i)}" >
                    <p style="font-size: 16px;">3. Why to File Reply to Trademark Objection - Advantages & Benefits

                    </p>
                  </div>
                  <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                  (click)="toggleGroup2(i)" [ngClass]="{active: isGroupShown2(i)}">
            <i [ngClass]="isGroupShown(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                     </div>
                    </ion-item>
                    </div>
          <div class="card-body" *ngIf="isGroupShown2(i)" >                  
            <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
          It is important to submit a proper reply to TM objection report within 30 days of issue of the report.
          If a legal reply is not filed, the trademark registry may cancel the trademark application and 
          update the status of the application as Abandoned

            </p>                
        </div>
        </div>
        </div><br>

        <div class="faqs" style="margin: auto;">
          <div class="card">        
            <div class="card-header" style="background-color: white;">
               <ion-item lines="none">
                    <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                    (click)="toggleGroup3(i)" [ngClass]="{active: isGroupShown3(i)}" >
                      <p style="font-size: 16px;">4. How to Respond to Trademark Objection

                      </p>
                    </div>
                    <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                    (click)="toggleGroup3(i)" [ngClass]="{active: isGroupShown3(i)}">
              <i [ngClass]="isGroupShown3(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                       </div>
                      </ion-item>
                      </div>
            <div class="card-body" *ngIf="isGroupShown3(i)" >                  
              <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                Procedure to submit objection response requires legal knowledge and drafting skills.
                 Please fill in above details and Startupwala Trademark Experts will do the rest. There is no 
                 fixed format for trademark objection reply and it depends upon case to case.
              </p>                
          </div>
          </div>
          </div><br>


          <div class="faqs" style="margin: auto;">
            <div class="card">        
              <div class="card-header" style="background-color: white;">
                 <ion-item lines="none">
                      <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                      (click)="toggleGroup4(i)" [ngClass]="{active: isGroupShown4(i)}" >
                        <p style="font-size: 16px;">
                          5. What happens after filing of Reply to Examination Report
                        </p>
                      </div>
                      <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                      (click)="toggleGroup4(i)" [ngClass]="{active: isGroupShown3(i)}">
                <i [ngClass]="isGroupShown4(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                         </div>
                        </ion-item>
                        </div>
              <div class="card-body" *ngIf="isGroupShown4(i)" >                  
                <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
            The objection reply is submitted online and you receive an acknowledgment of the reply. 
            The PDF copy of Reply is uploaded on Trademark Registry website under your application.
      The Status will still be shown as Objected until the Registry reviews the reply and accepts the trademark or rejects it. 
      Normally this process takes around six months to an year.
                </p>                
            </div>
            </div>
            </div><br>

    </div>
              <br>

                    <br><br>
                    <footer class="page-footer font-small blue pt-4">

                      <!-- Footer Elements -->
                      <div class="container">
                    
                        <a class="navbar-brand">  
                          <img src="..//../assets/startup2.png" style="height: 40px;width: 180px;">
                          </a>
                        <!--Grid row-->
                        <div class="row">
                    
                          <!--Grid column-->
                          <div class="col-md-6 mb-4">
                    
                            <!-- Form -->
                            <form class="form-inline">
                              <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                                aria-label="Search">
                              <i class="fas fa-search" aria-hidden="true"></i>
                            </form>
                            <!-- Form -->
                    
                          </div>
                          <!--Grid column-->
                    
                          <!--Grid column-->
                          <div class="col-md-6 mb-4">
                    
                            <form class="input-group">
                              <input type="text" class="form-control form-control-sm mr-3 w-50" placeholder="Your email"
                                aria-label="Your email" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-white my-0" type="button">Send</button>
                              </div>
                            </form>
                    
                          </div>
                          <!--Grid column-->
                    
                        </div>
                        <!--Grid row-->
                    
                      </div>
                      <!-- Footer Elements -->
                    
                      <!-- Copyright -->
                      <div class="footer-copyright text-center py-2">© 2020 Copyright:
                        <a href="https://www.proacscentglobal.com/"> Proascent.com</a>
                      </div>
                      <!-- Copyright -->
                    
                    </footer>
  </ion-content>
  
  
  
  