
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.box {
	display: flex;
	background-color: white;
	justify-content: center;
	background-image: white;
	height: 371px;
	width: 285px;
}
.login-form input[type = "text"] {
	width: 100%;
	border: none;
	text-align: center;
	border-radius: 24px;
  	font-size: 18px;
  	font-family: 'Raleway', sans-seriff;
	background-color: gainsboro;
	padding: 15px;
	
} 

.login-form input{
	outline:none;
}

.login-form input[type = "password"]{
	width: 100%;
	border: none;
	text-align: center;
	border-radius: 24px;
  	font-size: 18px;
  	font-family: 'Raleway', sans-seriff;
	background-color: gainsboro;
	padding: 15px;
}

.login-form {
	min-width: 269px;
	max-width: 240px;
	border-radius: 24px;
	background-color: white;
  
}
ion-content{
	text-align: center;
	//--padding-start:350px;
	//--padding-end:350px;
}

.login-form input[type = "text"] {
    margin-top: 20px;
}

.login-form input[type = "password"] {
    margin-top: 20px;
}

.login-form input[type = "submit"] {
	background-color:  #E0E0E0;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
	width: 100%;
	color: white;
  	border: none;
	margin-top: 35px;
	padding: 10px;
  	font-family: 'Raleway', sans-seriff;
  	font-size: 1.3rem;
	font-weight: bold;
	border-radius: 24px;
	transition: 0.25s;
}
span{
	font-family: initial;
	font-size: 12px;
	color: red;
}

.links {
	margin-top: 10px;
	display: block;
}
.login-form h3 {
	text-align: center;
	font-size: 1.9rem;

}







 


  





