<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="color: blue;">
  <ion-fab-button (click)="scrollToTop()"> 
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  </ion-fab>
  
  <nav class="navbar navbar-expand-lg navbar-light blue">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">
      <img src="..//../assets/startup2.png" style="height: 45px;width: 189px;">
    </a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <!--<span class="navbar-toggler-icon" style="font-size: 20px;"></span>-->
      <i class="fa fa-bars" style="color:#fff; font-size:23px;"></i>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">START BUSINESS</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/pvt" style="color: black;">Private Limited Company</a>
            <a class="dropdown-item" routerLink="/one-person" style="color: black;">One Person Company</a>
            <a class="dropdown-item" routerLink="/lmtd" style="color: black;">Limited Liability Partnership</a>
            <a class="dropdown-item" routerLink="/gst" style="color: black;">GST Registration</a>
            <a class="dropdown-item" routerLink="/pub-lmtd" style="color: black;">Public Limited Company</a>
            <a class="dropdown-item" routerLink="/section" style="color: black;">Section 8 NGO Company</a>
          </div>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">PROTECT BUSINESS</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/trade-reg" style="color: black;">Trademark Registration</a>
        <a class="dropdown-item" routerLink="/reply-trade" style="color: black;">Reply to Trademark Objection</a>
        <a class="dropdown-item" routerLink="/renew-trade" style="color: black;">Renew Your Trademark</a>
        <a class="dropdown-item" routerLink="/licence-trade" style="color: black;">Licence Your Trademark</a>
        <a class="dropdown-item" routerLink="/sell-trade" style="color: black;">Sell Your Trademark</a>
        <a class="dropdown-item" routerLink="/cpy-rght" style="color: black;">Copyright Registration</a>
        <a class="dropdown-item" routerLink="/rply-cpyrght" style="color: black;">Reply to Copyright Objection</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">MANAGE BUSINESS</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/roc-trade" style="color: black;">ROC Return Filing for Pvt.Ltd.</a>
        <a class="dropdown-item" routerLink="/roc-opc" style="color: black;">ROC Return Filing for OPC</a>
        <a class="dropdown-item" routerLink="/roc-llp" style="color: black;">ROC Return Filing for LLP</a>
        <a class="dropdown-item" routerLink="/apptmnt" style="color: black;">Appointment of Director</a>
        <a class="dropdown-item" routerLink="/resgn" style="color: black;">Resignation of Director</a>
        <a class="dropdown-item" routerLink="/chgaddrs" style="color: black;">Change in Office Address</a>
        <a class="dropdown-item" routerLink="/inc-capital" style="color: black;">Increasing Capital of Company</a>
        <a class="dropdown-item" routerLink="/closure" style="color: black;">Closure of Pvt.Ltd</a>
        <a class="dropdown-item" routerLink="/c-opc" style="color: black;">Closure of OPC</a>
        <a class="dropdown-item" routerLink="/c-llp" style="color: black;">Closure of LLP</a>
          </div>
        </li>
  
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">GROW BUSINESS</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/iso" style="color: black;">ISO Certification</a>
        <a class="dropdown-item" routerLink="/msme" style="color: black;">MSME/SSI Registration</a>
          </div>
        </li>
  
      </ul>
      
    </div>
    <!-- Collapsible content -->
  </nav>



  <div class="container" style="text-align: center;">
  
    <h2 style="margin-bottom: 50px;">OVERVIEW</h2>
  
    <div class="row">
        
  <div class="col-sm-6">
  
    <h3 style="text-align: center;font-weight: bold;font-size: 24px;">One Person Company</h3>
    <h4 style="text-align: center;font-weight: bold;font-size: 24px;">at ₹ 4,299*</h4>
    <br>
  
    <p style="text-align: center;font-size: 15px;">Any time. Any where. At Single click</p><br>
    <p style="text-align: center;font-size: 15px;">Also Get Absolutely Free</p>
  
    <div style="text-align: center;">
      <ion-note>
          <img src="https://www.startupwala.com/images/pan-tan-registration.svg" style="width: 100px;height: 80px;">
        <ion-label style="text-align: center;font-size: 16px;">+</ion-label>
      </ion-note>
    
    <ion-note>
      <img src="https://www.startupwala.com/images/mobile_nav_10.png" style="width: 90px;height: 80px;">
      <ion-label style="text-align: center;">OR</ion-label>
    </ion-note>
    
    <ion-note>
      <img src="https://www.startupwala.com/images/GST-Registration.svg" style="width: 100px;height: 80px;">
    </ion-note>
    
    </div>
  
    <div class="pvt text-center">
      <a style="font-size: 13px;">PAN + TAN</a>&nbsp;&nbsp;
      <a style="font-size: 13px;">Domain Name +1</a>&nbsp;&nbsp;
      <a style="font-size: 13px;">Online Accounting</a>
         
       </div>
       
       <div class="pvt text-center">
       <a style="font-size: 13px;">Registration</a>&nbsp;&nbsp;
      <a style="font-size: 13px;">yr hosting + 10 emails</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="font-size: 13px;">Software</a>&nbsp;&nbsp;&nbsp;&nbsp;
      
       </div>
    
    </div>
  
  
      <div class="col-md-6">
  
        <img src="..//../assets/one-person.jpg" style="width: 600px;height: 310px;">
    </div>
  </div>
  
  </div>
    
  <div class="container">
    <h3 style="text-align: center;margin-top:50px;margin-bottom: 40px;">BENIFITS OF PVT. LTD. REGISTRATION</h3>
     
        
          <div class="trade" style="margin: 0 auto;">
            <div class="card">
              <div class="card-header" style="background-color: white;">
                 <ion-item lines="none">
                      <div class="new">
                    <img src="https://www.startupwala.com/images/limited-liability-protection-to-directors-personal-assets.svg" 
                    class="image" >
                      </div>
                      <div class="new1" style="text-align: center;" (click)="toggleGroup(i)"  >
                        <p style="font-size: 16px;">Limited Liability Protection to Directors</p>
                      </div>
                      <div style="margin-top: 15px;" (click)="toggleGroup(i)" slot="end">
                <i [ngClass]="isGroupShown(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
                 </div> </ion-item>            
                </div>
              <div class="card-body" *ngIf="isGroupShown(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
                Many times startups need to borrow money and take things on credit. In case of normal Partnerships,
              Partners personal savings and property would be at risk incase business is not able to repay its loans.
               In a private limited company, only investment in business is lost, personal assets of the directors are
                safe.                 
            </div>
            </div>
            </div>
        <br>
        <div class="trade" style="margin: 0 auto;">
          <div class="card">
            <div class="card-header" style="background-color: white;">
               <ion-item lines="none">
                    <div class="new">
                  <img src="https://www.startupwala.com/images/better-image-and-credibility-in-market.svg" 
                  class="image">
                    </div>
                    <div class="new1" style="text-align: center;" (click)="toggleGroup1(i)"  >
                      <p style="font-size: 16px;">Better image and credibility in Market</p>
                    </div>
                    <div style="margin-top: 15px;" (click)="toggleGroup1(i)" slot="end">
              <i [ngClass]="isGroupShown1(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
               </div> </ion-item>            
              </div>
            <div class="card-body" *ngIf="isGroupShown1(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
              Private limited company is popular and well known business structure. Corporate Customers, 
              Vendors and Govt. Agencies prefer to deal with Private Limited Company instead of proprietorship or 
              normal partnerships.               
          </div>
          </div>
          </div>
          <br>
    
          <div class="trade" style="margin: 0 auto;">
            <div class="card">
              <div class="card-header" style="background-color: white;">
                 <ion-item lines="none">
                      <div class="new">
                    <img src="https://www.startupwala.com/images/easy-to-raise-funds-and-loans.svg" 
                    class="image">
                      </div>
                      <div class="new1" style="text-align: center;" (click)="toggleGroup2(i)"  >
                        <p style="font-size: 16px;">Easy to raise funds and loans</p>
                      </div>
                      <div style="margin-top: 15px;" (click)="toggleGroup2(i)" slot="end">
                <i [ngClass]="isGroupShown2(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
                 </div> </ion-item>            
                </div>
              <div class="card-body" *ngIf="isGroupShown2(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
                Pvt. Ltd. company enjoys wide options to raise funds through bank loans, Angel Investors, 
            Venture Capitalists, in comparison to LLPs and OPCs.               
            </div>
            </div>
            </div>
            <br>
    
            <div class="trade" style="margin: 0 auto;">
              <div class="card">
                <div class="card-header" style="background-color: white;">
                   <ion-item lines="none">
                        <div class="new">
                      <img src="https://www.startupwala.com/images/favorite-business-structure-for-investors.svg" 
                      class="image">
                        </div>
                        <div class="new1" style="text-align: center;" (click)="toggleGroup3(i)"  >
                          <p style="font-size: 16px;">Favorite Business structure for Investors</p>
                        </div>
                        <div style="margin-top: 15px;" (click)="toggleGroup3(i)" slot="end">
                  <i [ngClass]="isGroupShown3(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
                   </div> </ion-item>            
                  </div>
                <div class="card-body" *ngIf="isGroupShown3(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
                  Investors love to invest in Private Limited companies as it is well structured and less strings attached.
              Most important it is very easy to exit from a private limited company.                
              </div>
              </div>
              </div>
              <br>
    
              <div class="trade" style="margin: 0 auto;">
                <div class="card">
                  <div class="card-header" style="background-color: white;">
                     <ion-item lines="none">
                          <div class="new">
                        <img src="https://www.startupwala.com/images/easy-to-attract-employees.svg" 
                        class="image">
                          </div>
                          <div class="new1" style="text-align: center;" (click)="toggleGroup4(i)"  >
                            <p style="font-size: 16px;">Easy to attract Employees</p>
                          </div>
                          <div style="margin-top: 15px;" (click)="toggleGroup4(i)" slot="end">
                    <i [ngClass]="isGroupShown4(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
                     </div> </ion-item>            
                    </div>
                  <div class="card-body" *ngIf="isGroupShown4(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
                    For startups putting together a team and keeping them for long time is a challenge, due to 
                confidence attached to private limited structure, it is easy to hire people as well as motivate them 
                with corporate designations and stock options.                
                </div>
                </div>
                </div>
                <br>
    
                <div class="trade" style="margin: 0 auto;">
                  <div class="card">
                    <div class="card-header" style="background-color: white;">
                       <ion-item lines="none">
                            <div class="new">
                          <img src="https://www.startupwala.com/images/easy-to-sell.svg" 
                          class="image">
                            </div>
                            <div class="new1" style="text-align: center;" (click)="toggleGroup5(i)"  >
                              <p style="font-size: 16px;">Easy to Sell</p>
                            </div>
                            <div style="margin-top: 15px;" (click)="toggleGroup5(i)" slot="end">
                      <i [ngClass]="isGroupShown5(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
                       </div> </ion-item>            
                      </div>
                    <div class="card-body" *ngIf="isGroupShown5(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
                      Private Ltd. is easy to sell, very less documentation and cost is involved in selling 
                  a Pvt. Ltd. company.                 
                  </div>
                  </div>
                  </div>
                  <br></div>
              <br>

  
<div class="container">

    <h3 style="text-align: center;margin-top:30px;margin-bottom: 30px;">
      MINIMUM REQUIREMENTS FOR OPC REGISTRATION</h3>
  
    <div class="Pre-requisites">
    <div class="row justify-content-center">
        
      <!-- Grid column -->
  <div class="col-sm-3" style="text-align: left;">
  
  <!-- Links -->
  <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
  
  <ul class="list-unstyled">
  <li style="font-size: 17px;margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
   <p style="font-size: 17px;margin-bottom: 30px;">
<i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i> 
   Minimum 1 Shareholder</p>
  </li>
    <li style="font-size: 17px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
<i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i> 
   <p style="font-size: 17px;margin-bottom: 30px;"> Minimum 1 Nominee</p>
  </li>
  <li style="font-size: 17px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
<i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>
    <p style="font-size: 17px;margin-bottom: 30px;">Minimum Authorised Share Capital to be Rs. 1 Lac</p>
  </li>
  
  </ul>
  
  </div>
  <!-- Grid column -->
  
  <!-- Grid column -->
  <div class="col-sm-4" style="text-align: left;">
  
  <!-- Links -->
  <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
  
  <ul class="list-unstyled">
  <li style="font-size: 17px;display: flex;margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
<i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>  
  <p style="font-size: 17px;margin-bottom: 30px;">Minimum 1 Directors
   </p>
  </li>
  <li style="font-size: 17px;display: flex;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
<i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>  
  <p style="font-size: 17px;margin-bottom: 10px;"> Only Indian residents can be Shareholder & Nominee</p>
  </li>
  <li style="font-size: 17px;display: flex;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
<i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i> 
   <p style="font-size: 17px;margin-bottom: 30px;"> DIN (Director Identification Number) for all Directors</p>
  </li>

  
  </ul>
  </div>
  
  <div class="col-sm-3" style="text-align: left;">
  
    <!-- Links -->
    <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
    
    <ul class="list-unstyled">
    <li style="font-size: 17px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">  
  <i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>   
     <p style="font-size: 17px;">The directors and shareholders can be same person
     </p>
    </li>
    <li style="font-size: 17px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
  <i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>    
    <p style="font-size: 17px;">Minimum 1 Director must be Indian Resident</p>
    </li>

    <li style="font-size: 17px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
  <i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>   
     <p style="font-size: 17px;">DSC (Digital Signature Certificate) for 1 Promoters & 1 witness</p>
    </li>
    </ul> 
    </div>
  <!-- Grid column -->
  </div>
  </div>
  </div>
  
  <div class="container">

  <h3 style="text-align: center;margin-top:30px;margin-bottom: 20px;">DELIVERABLES</h3>
  
    <div class="Deliverables ">
    <div class="row justify-content-center">
        
      <!-- Grid column -->
  <div class="col-sm-3" style="text-align: left;">
  
  <!-- Links -->
  <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
  
  <ul class="list-unstyled">
  <li style="font-size: 17px;display: flex;
  margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
<i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>  
  <p style="font-size: 17px;margin-bottom: 30px;">DIN for 2 Directors</p>
  </li>
  <li style="font-size: 17px;display: flex;
  margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
<i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i> 
   <p style="font-size: 17px;margin-bottom: 30px;">MOA + AOA</p>
  </li>
    <li style="font-size: 17px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
<i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>
    <p style="font-size: 18px;margin-bottom: 10px;">Customized Incorporation Master File</p>
  </li>
  <li style="font-size: 17px;display: flex;
  margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
 <i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>  
    <p style="font-size: 17px;margin-bottom: 30px;">Bank Account Opening Document Support</p>
   </li>
  </ul>
  
  </div>
  <!-- Grid column -->
  
  <!-- Grid column -->
  <div class="col-sm-4" style="text-align: left;">
  
  <!-- Links -->
  <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
  
  <ul class="list-unstyled">
  <li style="font-size: 17px;display: flex;
  margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
<i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>   
 <p style="font-size: 17px;margin-bottom: 30px;">Digital Signature Token for 2 Promoters & 1 witness
   </p>
  </li>
  <li style="font-size: 17px;display: flex;
  margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
<i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>  
  <p style="font-size: 17px;margin-bottom: 30px;">Incorporation Certificate</p>
  </li>
  <li style="font-size: 17px;display: flex;
  margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
 <i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i> 
     <p style="font-size: 17px;margin-bottom: 30px;">Company PAN Card</p>
   </li>
   <li style="font-size: 17px;display: flex;
   margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
 <i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>  
    <p style="font-size: 17px;margin-bottom: 30px;">Domain Name + Web Hosting</p>
   </li>
  </ul>
  </div>
  
  <div class="col-sm-3" style="text-align: left;">
  
    <!-- Links -->
    <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
    
    <ul class="list-unstyled">
    <li style="font-size: 17px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
  <i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>   
     <p style="font-size: 17px;margin-bottom: 30px;">Company Name Approval
     </p>
    </li>
    <li style="font-size: 17px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
  <i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>  
      <p style="font-size: 18px;margin-bottom: 10px;">PF + ESIC + Professional Tax Registration</p>
    </li>
    <li style="font-size: 17px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
  <i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>  
      <p style="font-size: 17px;margin-bottom: 30px;">Company TAN/TDS Number</p>
    </li>
    <li style="font-size: 17px;display: flex;
    margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
  <i class='far fa-check-circle' style="color: blue;margin-right: 10px;"></i>  
      <p style="font-size: 17px;margin-bottom: 30px;">+ 10 Email Ids for 1 year</p>
    </li>
    
    </ul>
    
    </div>
  <!-- Grid column -->
  
  </div>
  </div></div>
  
  <div class="container">

    <h3 style="text-align: center;margin-top:30px;margin-bottom: 50px;">FAQS</h3>
    
    
    <div class="faqs" style="margin: auto;">
          <div class="card">        
            <div class="card-header" style="background-color: white;">
               <ion-item lines="none">
                    <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                    (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" >
                      <p style="font-size: 16px;">1. What documents required to start Single Person Company (OPC)?
                      </p>
                    </div>
                    <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                    (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
              <i [ngClass]="isGroupShown(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                       </div>
                      </ion-item>
                      </div>
            <div class="card-body" *ngIf="isGroupShown(i)" >                  
              <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                You need to arrange very simple documents of director like photograph, Pan card and one address proof. For more details, please fill the above details and Get Started Now.


    
              </p>                
          </div>
          </div>
          </div><br>
        
      <div class="faqs" style="margin: auto;">
            <div class="card">        
              <div class="card-header" style="background-color: white;">
                 <ion-item lines="none">
                      <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                      (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}" >
                        <p style="font-size: 16px;">2. Do I have to have office (commercial) space to start a Company?
                        </p>
                      </div>
                      <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                      (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}">
                <i [ngClass]="isGroupShown1(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                         </div>
                        </ion-item>
                        </div>
              <div class="card-body" *ngIf="isGroupShown1(i)" >                  
                <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                  No, commercial office space is not required. You can show your own residential or rented
                   home address as the registered office address of the Company. This office address can be
                    changed at any time after incorporation of OPC. Once your startup is set up, stable and 
                    ready to move on to a nice corporate space you can change the registered office address by
                    informing to the ROC office.
                </p>                
            </div>
            </div>
            </div><br>
    
        <div class="faqs" style="margin: auto;">
              <div class="card">        
                <div class="card-header" style="background-color: white;">
                   <ion-item lines="none">
                        <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                        (click)="toggleGroup2(i)" [ngClass]="{active: isGroupShown2(i)}" >
                          <p style="font-size: 16px;">3. Who is Registrar of Companies (ROC)?
    
                          </p>
                        </div>
                        <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                        (click)="toggleGroup2(i)" [ngClass]="{active: isGroupShown2(i)}">
                  <i [ngClass]="isGroupShown(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                           </div>
                          </ion-item>
                          </div>
                <div class="card-body" *ngIf="isGroupShown2(i)" >                  
                  <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                    ROC is a Government office with whom companies get registered. Every State has one ROC office except Maharashtra and Tamilnadu where there are two ROC offices. In Maharashtra companies are registered with Mumbai & Pune ROC. In Tamilnadu companies are incorporated at Chennai and Coimbatore ROCs. In all other States like Delhi there is only one ROC office, like at Bangalore, Hyderabad and so on.
    
    
                  </p>                
              </div>
              </div>
              </div><br>
    
          <div class="faqs" style="margin: auto;">
                <div class="card">        
                  <div class="card-header" style="background-color: white;">
                     <ion-item lines="none">
                          <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                          (click)="toggleGroup3(i)" [ngClass]="{active: isGroupShown3(i)}" >
                            <p style="font-size: 16px;">4. Do I have to physically visit ROC Office while Setting up company?
    
                            </p>
                          </div>
                          <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                          (click)="toggleGroup3(i)" [ngClass]="{active: isGroupShown3(i)}">
                    <i [ngClass]="isGroupShown3(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                             </div>
                            </ion-item>
                            </div>
                  <div class="card-body" *ngIf="isGroupShown3(i)" >                  
                    <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                      No. Startupwala provides complete online Company Incorporation process. All legal documentation with ROC and visits are done by Startupwala.
    
    
                    </p>                
                </div>
                </div>
                </div><br>
    
            <div class="faqs" style="margin: auto;">
                  <div class="card">        
                    <div class="card-header" style="background-color: white;">
                       <ion-item lines="none">
                            <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                            (click)="toggleGroup4(i)" [ngClass]="{active: isGroupShown4(i)}" >
                              <p style="font-size: 16px;">5. Is OPC Registration to be renewed every year?
                              </p>
                            </div>
                            <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                            (click)="toggleGroup4(i)" [ngClass]="{active: isGroupShown4(i)}">
                      <i [ngClass]="isGroupShown4(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                               </div>
                              </ion-item>
                              </div>
                    <div class="card-body" *ngIf="isGroupShown4(i)" >                  
                      <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                        No. Once the company is formed, it will be valid till it is officially closed down by the owners. No renewal or fees is required. However, 
                        every year one man companies have to file very basic returns with ROC office.
                      </p>                
                  </div>
                  </div>
                  </div><br>
    
              <div class="faqs" style="margin: auto;">
                    <div class="card">        
                      <div class="card-header" style="background-color: white;">
                         <ion-item lines="none">
                              <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                              (click)="toggleGroup5(i)" [ngClass]="{active: isGroupShown5(i)}" >
                                <p style="font-size: 16px;">6. What is a DIN?
                                </p>
                              </div>
                              <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                              (click)="toggleGroup5(i)" [ngClass]="{active: isGroupShown5(i)}">
                        <i [ngClass]="isGroupShown5(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                                 </div>
                                </ion-item>
                                </div>
                      <div class="card-body" *ngIf="isGroupShown5(i)" >                  
                        <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                          Director Identification Number (DIN) is a unique identification number required for a person to become a director of a company. DIN is issued by ROC office (Ministry of Corporate Affairs)
                          It is similar to a PAN Card number.DIN is to be mentioned in documents while appointing a person as a director of a company.
                        </p>                
                    </div>
                    </div>
                    </div><br>
    
                <div class="faqs" style="margin: auto;">
                      <div class="card">        
                        <div class="card-header" style="background-color: white;">
                           <ion-item lines="none">
                                <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                                (click)="toggleGroup6(i)" [ngClass]="{active: isGroupShown6(i)}" >
                                  <p style="font-size: 16px;">7. What is a DSC?
    
                                  </p>
                                </div>
                                <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                                (click)="toggleGroup6(i)" [ngClass]="{active: isGroupShown6(i)}">
                          <i [ngClass]="isGroupShown6(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                                   </div>
                                  </ion-item>
                                  </div>
                        <div class="card-body" *ngIf="isGroupShown6(i)" >                  
                          <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                            A digital signature is electronic signature, which is in the form of codes. It is used for signing the electronic forms, filed with ROC for incorporation of Company. Digital Signature cannot be used in physical documents.
    
    
                          </p>                
                      </div>
                      </div>
                      </div><br>
    
                  <div class="faqs" style="margin: auto;">
                        <div class="card">        
                          <div class="card-header" style="background-color: white;">
                             <ion-item lines="none">
                                  <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                                  (click)="toggleGroup7(i)" [ngClass]="{active: isGroupShown7(i)}" >
                                    <p style="font-size: 16px;">8. What is MOA & AOA of company?    
                                    </p>
                                  </div>
                                  <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                                  (click)="toggleGroup7(i)" [ngClass]="{active: isGroupShown7(i)}">
                            <i [ngClass]="isGroupShown7(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                                     </div>
                                    </ion-item>
                                    </div>
                          <div class="card-body" *ngIf="isGroupShown7(i)" >                  
                            <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                              MOA means Memorandum of Association and AOA means Articles of Association. These are the byelaws or rules based on which important matters like main business of the company or meetings is decided. These are standard legal
                               documents prepared by Company Secretaries during registration of the Company.
                            </p>                
                        </div>
                        </div>
                        </div><br>
    
                    <div class="faqs" style="margin: auto;">
                          <div class="card">        
                            <div class="card-header" style="background-color: white;">
                               <ion-item lines="none">
                                    <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                                    (click)="toggleGroup8(i)" [ngClass]="{active: isGroupShown8(i)}" >
                                      <p style="font-size: 16px;">9. Can we change office address of the company after Incorporation?    
                                      </p>
                                    </div>
                                    <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                                    (click)="toggleGroup8(i)" [ngClass]="{active: isGroupShown8(i)}">
                              <i [ngClass]="isGroupShown8(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                                       </div>
                                      </ion-item>
                                      </div>
                            <div class="card-body" *ngIf="isGroupShown8(i)" >                  
                              <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                                Yes, company office address can be changed anytime after incorporation.    
                              </p>                
                          </div>
                          </div>
                          </div><br>
    
                      <div class="faqs" style="margin: auto;">
                            <div class="card">        
                              <div class="card-header" style="background-color: white;">
                                 <ion-item lines="none">
                                      <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                                      (click)="toggleGroup9(i)" [ngClass]="{active: isGroupShown9(i)}" >
                                        <p style="font-size: 16px;">10. What is capital of the Company?    
                                        </p>
                                      </div>
                                      <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                                      (click)="toggleGroup9(i)" [ngClass]="{active: isGroupShown9(i)}">
                                <i [ngClass]="isGroupShown9(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                                         </div>
                                        </ion-item>
                                        </div>
                              <div class="card-body" *ngIf="isGroupShown9(i)" >                  
                                <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                                  Capital means investment made by the shareholder into OPC. Authorised capital is an amount up to which 
                                  company can issue shares. This capital is mentioned during incorporation of the company based on which ROC
                                   registration fees and stamp duty is paid. Paid up capital is an actual investment which goes from 
                                   shareholder into company bank account, against which share certificate is issue by the company. There 
                                   is no minimum compulsion for paid up capital, it can be as low as Rs. 10,000
                                </p>                
                            </div>
                            </div>
                            </div><br>
    
                        <div class="faqs" style="margin: auto;">
                              <div class="card">        
                                <div class="card-header" style="background-color: white;">
                                   <ion-item lines="none">
                                        <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                                        (click)="toggleGroup10(i)" [ngClass]="{active: isGroupShown10(i)}" >
                                          <p style="font-size: 16px;">11. Do we have to deposit Share Capital in a Bank at the time of Incorporation?    
                                          </p>
                                        </div>
                                        <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                                        (click)="toggleGroup10(i)" [ngClass]="{active: isGroupShown10(i)}">
                                  <i [ngClass]="isGroupShown10(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                                           </div>
                                          </ion-item>
                                          </div>
                                <div class="card-body" *ngIf="isGroupShown10(i)" >                  
                                  <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                                    No. After company is registered, it need to open a company bank account 
                                    and then anytime within two months of incorporation, capital can be deposited into Company bank account.   
                                  </p>                
                              </div>
                              </div>
                              </div><br>
    
                          <div class="faqs" style="margin: auto;">
                                <div class="card">        
                                  <div class="card-header" style="background-color: white;">
                                     <ion-item lines="none">
                                          <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                                          (click)="toggleGroup11(i)" [ngClass]="{active: isGroupShown11(i)}" >
                                            <p style="font-size: 16px;">12. Does my business have to have some level of turnover to start OPC Private Limited?    
                                            </p>
                                          </div>
                                          <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                                          (click)="toggleGroup11(i)" [ngClass]="{active: isGroupShown11(i)}">
                                    <i [ngClass]="isGroupShown11(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                                             </div>
                                            </ion-item>
                                            </div>
                                  <div class="card-body" *ngIf="isGroupShown11(i)" >                  
                                    <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                                      This is not true, a Private limited company is one of the mode of doing business, 
                                      which means it can be started from scratch. For that matter even after incorporating
                                      private limited there is no obligation that the company must have sales or turnover.
                                    </p>                
                                </div>
                                </div>
                                </div><br>
    
                            <div class="faqs" style="margin: auto;">
                                  <div class="card">        
                                    <div class="card-header" style="background-color: white;">
                                       <ion-item lines="none">
                                            <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                                            (click)="toggleGroup12(i)" [ngClass]="{active: isGroupShown12(i)}" >
                                              <p style="font-size: 16px;">13. Does PF, GST is automatically applicable to OPC Private Limited?

    
                                              </p>
                                            </div>
                                            <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                                            (click)="toggleGroup12(i)" [ngClass]="{active: isGroupShown12(i)}">
                                      <i [ngClass]="isGroupShown12(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                                               </div>
                                              </ion-item>
                                              </div>
                                    <div class="card-body" *ngIf="isGroupShown12(i)" >                  
                                      <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                                        There is no automatic applicability. Provident Fund (PF), GST law applicability is same for all types of businesses like sole proprietorship, partnership firms and companies.
                                         These laws are applicable only after crossing certain threshold limits.
                                      </p>                
                                  </div>
                                  </div>
                                  </div><br>
    
                                  
                                  </div>
            <br><br>
            
            <footer class="page-footer font-small blue pt-4">

              <!-- Footer Elements -->
          <div class="faqs" style="margin: auto;">
            
                <a class="navbar-brand">  
                  <img src="..//../assets/startup2.png" style="height: 40px;width: 180px;"> 
                                 </a>
                <!--Grid row-->
                <div class="row">
            
                  <!--Grid column-->
                  <div class="col-md-6 mb-4">
            
                    <!-- Form -->
                    <form class="form-inline">
                      <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                        aria-label="Search">
                      <i class="fas fa-search" aria-hidden="true"></i>
                    </form>
                    <!-- Form -->
            
                  </div>
                  <!--Grid column-->
            
                  <!--Grid column-->
                  <div class="col-md-6 mb-4">
            
                    <form class="input-group">
                      <input type="text" class="form-control form-control-sm mr-3 w-50" placeholder="Your email"
                        aria-label="Your email" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-white my-0" type="button">Send</button>
                      </div>
                    </form>
            
                  </div>
                  <!--Grid column-->
            
                </div>
                <!--Grid row-->
            
              </div>
              <!-- Footer Elements -->
            
              <!-- Copyright -->
              <div class="footer-copyright text-center py-2">© 2020 Copyright:
                <a href="https://www.proacscentglobal.com/"> Proascent.com</a>
              </div>
              <!-- Copyright -->
            
            </footer>
  
  </ion-content>
  
  
  
  