<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="color: blue;">
    <ion-fab-button (click)="scrollToTop()"> 
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    </ion-fab>
    
    <nav class="navbar navbar-expand-lg navbar-light blue">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">
        <img src="..//../assets/startup2.png" style="height: 45px;width: 189px;">
      </a>
    
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span class="navbar-toggler-icon" style="font-size: 20px;"></span>-->
        <i class="fa fa-bars" style="color:#fff; font-size:23px;"></i>
      </button>
    
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
    
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">START BUSINESS</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/pvt" style="color: black;">Private Limited Company</a>
              <a class="dropdown-item" routerLink="/one-person" style="color: black;">One Person Company</a>
              <a class="dropdown-item" routerLink="/lmtd" style="color: black;">Limited Liability Partnership</a>
              <a class="dropdown-item" routerLink="/gst" style="color: black;">GST Registration</a>
              <a class="dropdown-item" routerLink="/pub-lmtd" style="color: black;">Public Limited Company</a>
              <a class="dropdown-item" routerLink="/section" style="color: black;">Section 8 NGO Company</a>
            </div>
          </li>
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">PROTECT BUSINESS</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/trade-reg" style="color: black;">Trademark Registration</a>
          <a class="dropdown-item" routerLink="/reply-trade" style="color: black;">Reply to Trademark Objection</a>
          <a class="dropdown-item" routerLink="/renew-trade" style="color: black;">Renew Your Trademark</a>
          <a class="dropdown-item" routerLink="/licence-trade" style="color: black;">Licence Your Trademark</a>
          <a class="dropdown-item" routerLink="/sell-trade" style="color: black;">Sell Your Trademark</a>
          <a class="dropdown-item" routerLink="/cpy-rght" style="color: black;">Copyright Registration</a>
          <a class="dropdown-item" routerLink="/rply-cpyrght" style="color: black;">Reply to Copyright Objection</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">MANAGE BUSINESS</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/roc-trade" style="color: black;">ROC Return Filing for Pvt.Ltd.</a>
          <a class="dropdown-item" routerLink="/roc-opc" style="color: black;">ROC Return Filing for OPC</a>
          <a class="dropdown-item" routerLink="/roc-llp" style="color: black;">ROC Return Filing for LLP</a>
          <a class="dropdown-item" routerLink="/apptmnt" style="color: black;">Appointment of Director</a>
          <a class="dropdown-item" routerLink="/resgn" style="color: black;">Resignation of Director</a>
          <a class="dropdown-item" routerLink="/chgaddrs" style="color: black;">Change in Office Address</a>
          <a class="dropdown-item" routerLink="/inc-capital" style="color: black;">Increasing Capital of Company</a>
          <a class="dropdown-item" routerLink="/closure" style="color: black;">Closure of Pvt.Ltd</a>
          <a class="dropdown-item" routerLink="/c-opc" style="color: black;">Closure of OPC</a>
          <a class="dropdown-item" routerLink="/c-llp" style="color: black;">Closure of LLP</a>
            </div>
          </li>
    
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: white;font-size:16px;">GROW BUSINESS</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/iso" style="color: black;">ISO Certification</a>
          <a class="dropdown-item" routerLink="/msme" style="color: black;">MSME/SSI Registration</a>
            </div>
          </li>
    
        </ul>
        
      </div>
      <!-- Collapsible content -->
    </nav>
    
  <div class="container" style="text-align: center;">
  
    <h2 style="margin-bottom: 50px;">OVERVIEW</h2>
  
    <div class="row">
        
  <div class="col-sm-6">
  
    <h3 style="text-align: center;font-weight: bold;font-size: 24px;">Closure Of One Person
      Company

    </h3>
    <h4 style="text-align: center;font-weight: bold;font-size: 24px;">at ₹ 4,999 *</h4>
    <br>
  
    <p style="text-align: center;font-size: 15px;">Any time. Any where. At Single click</p><br>
    <p style="text-align: center;font-size: 15px;">Also Get Absolutely Free</p>
  
    <div style="text-align: center;">
      <ion-note>
          <img src="https://www.startupwala.com/images/pan-tan-registration.svg"
           style="width: 100px;height: 80px;">
        <ion-label style="text-align: center;">+</ion-label>
      </ion-note>
    
    <ion-note>
      <img src="https://www.startupwala.com/images/mobile_nav_10.png" style="width: 90px;height: 80px;">
      <ion-label style="text-align: center;">OR</ion-label>
    </ion-note>
    
    <ion-note>
      <img src="https://www.startupwala.com/images/GST-Registration.svg" style="width: 100px;height: 80px;">
    </ion-note>
    
    </div>
  
  
    
    <div class="pvt text-center">
      <a style="font-size: 13px;">Share Certificate</a>&nbsp;&nbsp;
      <a style="font-size: 13px;">Statutory Register +</a>&nbsp;
      <a style="font-size: 13px;">ROC AMC</a>
         
       </div>
       
       <div class="pvt text-center">
       <a style="font-size: 13px;">Book + Minutes </a>&nbsp;&nbsp;
      <a style="font-size: 13px;">Online Accounting </a>&nbsp;&nbsp;
      <a style="font-size: 13px;">Services</a>&nbsp;&nbsp;&nbsp;&nbsp;
      
       </div>
    </div>
  
      <div class="col-md-6">  
        <img src="..//../assets/Close-OPC.jpg" style="width: 500px;height: 310px;">
    </div>
  </div> 
  </div>
    
  <div class="container">
  <h3 style="text-align: center;margin-top:50px;margin-bottom: 40px;">
    BENEFITS OF CLOSURE OF ONE PERSON COMPANY
    </h3>
   
    <div class="trade" style="margin: 0 auto;">
      <div class="card">
        <div class="card-header" style="background-color: white;">
           <ion-item lines="none">
                <div class="new">
              <img src="https://www.startupwala.com/images/limited-liability-protection-to-directors-personal-assets.svg" 
              class="image" >
                </div>
                <div class="new1" style="text-align: center;" (click)="toggleGroup(i)"  >
                  <p style="font-size: 16px;">Limited Liability Protection to Directors</p>
                </div>
                <div style="margin-top: 15px;" (click)="toggleGroup(i)" slot="end">
          <i [ngClass]="isGroupShown(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
           </div> </ion-item>            
          </div>
        <div class="card-body" *ngIf="isGroupShown(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
          Many times startups need to borrow money and take things on credit. In case of normal Partnerships,
        Partners personal savings and property would be at risk incase business is not able to repay its loans.
         In a private limited company, only investment in business is lost, personal assets of the directors are
          safe.                 
      </div>
      </div>
      </div>
  <br>
  <div class="trade" style="margin: 0 auto;">
    <div class="card">
      <div class="card-header" style="background-color: white;">
         <ion-item lines="none">
              <div class="new">
            <img src="https://www.startupwala.com/images/better-image-and-credibility-in-market.svg" 
            class="image">
              </div>
              <div class="new1" style="text-align: center;" (click)="toggleGroup1(i)"  >
                <p style="font-size: 16px;">Better image and credibility in Market</p>
              </div>
              <div style="margin-top: 15px;" (click)="toggleGroup1(i)" slot="end">
        <i [ngClass]="isGroupShown1(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
         </div> </ion-item>            
        </div>
      <div class="card-body" *ngIf="isGroupShown1(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
        Private limited company is popular and well known business structure. Corporate Customers, 
        Vendors and Govt. Agencies prefer to deal with Private Limited Company instead of proprietorship or 
        normal partnerships.               
    </div>
    </div>
    </div>
    <br>

    <div class="trade" style="margin: 0 auto;">
      <div class="card">
        <div class="card-header" style="background-color: white;">
           <ion-item lines="none">
                <div class="new">
              <img src="https://www.startupwala.com/images/easy-to-raise-funds-and-loans.svg" 
              class="image">
                </div>
                <div class="new1" style="text-align: center;" (click)="toggleGroup2(i)"  >
                  <p style="font-size: 16px;">Easy to raise funds and loans</p>
                </div>
                <div style="margin-top: 15px;" (click)="toggleGroup2(i)" slot="end">
          <i [ngClass]="isGroupShown2(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
           </div> </ion-item>            
          </div>
        <div class="card-body" *ngIf="isGroupShown2(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
          Pvt. Ltd. company enjoys wide options to raise funds through bank loans, Angel Investors, 
      Venture Capitalists, in comparison to LLPs and OPCs.               
      </div>
      </div>
      </div>
      <br>

      <div class="trade" style="margin: 0 auto;">
        <div class="card">
          <div class="card-header" style="background-color: white;">
             <ion-item lines="none">
                  <div class="new">
                <img src="https://www.startupwala.com/images/favorite-business-structure-for-investors.svg" 
                class="image">
                  </div>
                  <div class="new1" style="text-align: center;" (click)="toggleGroup3(i)"  >
                    <p style="font-size: 16px;">Favorite Business structure for Investors</p>
                  </div>
                  <div style="margin-top: 15px;" (click)="toggleGroup3(i)" slot="end">
            <i [ngClass]="isGroupShown3(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
             </div> </ion-item>            
            </div>
          <div class="card-body" *ngIf="isGroupShown3(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
            Investors love to invest in Private Limited companies as it is well structured and less strings attached.
        Most important it is very easy to exit from a private limited company.                
        </div>
        </div>
        </div>
        <br>

        <div class="trade" style="margin: 0 auto;">
          <div class="card">
            <div class="card-header" style="background-color: white;">
               <ion-item lines="none">
                    <div class="new">
                  <img src="https://www.startupwala.com/images/easy-to-attract-employees.svg" 
                  class="image">
                    </div>
                    <div class="new1" style="text-align: center;" (click)="toggleGroup4(i)"  >
                      <p style="font-size: 16px;">Easy to attract Employees</p>
                    </div>
                    <div style="margin-top: 15px;" (click)="toggleGroup4(i)" slot="end">
              <i [ngClass]="isGroupShown4(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
               </div> </ion-item>            
              </div>
            <div class="card-body" *ngIf="isGroupShown4(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
              For startups putting together a team and keeping them for long time is a challenge, due to 
          confidence attached to private limited structure, it is easy to hire people as well as motivate them 
          with corporate designations and stock options.                
          </div>
          </div>
          </div>
          <br>

          <div class="trade" style="margin: 0 auto;">
            <div class="card">
              <div class="card-header" style="background-color: white;">
                 <ion-item lines="none">
                      <div class="new">
                    <img src="https://www.startupwala.com/images/easy-to-sell.svg" 
                    class="image">
                      </div>
                      <div class="new1" style="text-align: center;" (click)="toggleGroup5(i)"  >
                        <p style="font-size: 16px;">Easy to Sell</p>
                      </div>
                      <div style="margin-top: 15px;" (click)="toggleGroup5(i)" slot="end">
                <i [ngClass]="isGroupShown5(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;"></i>
                 </div> </ion-item>            
                </div>
              <div class="card-body" *ngIf="isGroupShown5(i)" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">                  
                Private Ltd. is easy to sell, very less documentation and cost is involved in selling 
            a Pvt. Ltd. company.                 
            </div>
            </div>
            </div>
        </div>
          <br>
              <br>
   
              <div class="container">

      <h3 style="text-align: center;margin-top:30px;margin-bottom: 30px;">
        MINIMUM REQUIREMENTS CLOSURE OF ONE PERSON COMPANY</h3>

      <div class="row justify-content-center">
                  
                <!-- Grid column -->
            <div class="col-sm-3" style="text-align: left;">
            
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
            
            <ul class="list-unstyled">
            <li style="font-size: 18px;margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
             <p style="font-size: 17px;margin-bottom: 30px;">
              <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i> Minimum 2 Shareholders</p>
            </li>
              <li style="font-size: 18px;display: flex;
              margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
              <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
              <p style="font-size: 17px;margin-bottom: 30px;">One of the Directors must be Indian Resident</p>
            </li>
            <li style="font-size: 18px;display: flex;
              margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
              <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
              <p style="font-size: 17px;margin-bottom: 30px;">One of the Directors must be Indian Resident</p>
            </li>
            
            </ul>
            
            </div>
            <!-- Grid column -->
            
            <!-- Grid column -->
            <div class="col-sm-4" style="text-align: left;">
            
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
            
            <ul class="list-unstyled">
            <li style="font-size: 18px;display: flex;margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
              <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
              <p style="font-size: 17px;margin-bottom: 30px;">One of the Directors must be Indian Resident
             </p>
            </li>
            <li style="font-size: 18px;display: flex;
             font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
              <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
              <p style="font-size: 17px;margin-bottom: 30px;">Minimum Authorised Share Capital 100,000 (INR One Lac)</p>
            </li>
            
            </ul>
            </div>
            
            <div class="col-sm-3" style="text-align: left;">
            
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
              
              <ul class="list-unstyled">
              <li style="font-size: 18px;display: flex;
              margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">  
                <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                <p style="font-size: 17px;">The directors and shareholders can be same person
               </p>
              </li>
              <li style="font-size: 18px;display: flex;
              margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
                <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                <p style="font-size: 17px;">DIN (Director Identification Number) for all Directors</p>
              </li>
              </ul> 
              </div>
            <!-- Grid column -->
            </div>
            </div>
            
            <div class="container">

            <h3 style="text-align: center;margin-top:30px;margin-bottom: 20px;">DELIVERABLES</h3>
            
              <div class="row justify-content-center">
                  
                <!-- Grid column -->
            <div class="col-sm-3" style="text-align: left;">
            
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
            
            <ul class="list-unstyled">
              <li style="font-size: 18px;display: flex;
              margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                <p style="font-size: 17px;margin-bottom: 30px;">DIN for 2 Directors</p>
              </li>
              <li style="font-size: 18px;display: flex;
              margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                <p style="font-size: 17px;margin-bottom: 30px;">MOA + AOA</p>
              </li>
                <li style="font-size: 18px;display: flex;
                margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
                <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                <p style="font-size: 17px;margin-bottom: 10px;">Customized Incorporation Master File</p>
              </li>
              <li style="font-size: 18px;display: flex;
              margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
                 <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                 <p style="font-size: 17px;margin-bottom: 30px;">Bank Account Opening Document Support</p>
               </li>
              </ul>
              
              </div>
              <!-- Grid column -->
              
              <!-- Grid column -->
              <div class="col-sm-4" style="text-align: left;">
              
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
              
              <ul class="list-unstyled">
              <li style="font-size: 18px;display: flex;
              margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                <p style="font-size: 17px;margin-bottom: 30px;">Digital Signature Token for 2 Promoters & 1 witness
               </p>
              </li>
              <li style="font-size: 18px;display: flex;
              margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                <p style="font-size: 17px;margin-bottom: 30px;">Incorporation Certificate</p>
              </li>
              <li style="font-size: 18px;display: flex;
              margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> 
                 <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                 <p style="font-size: 17px;margin-bottom: 30px;">Company PAN Card</p>
               </li>
               <li style="font-size: 18px;display: flex;
               margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                 <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                 <p style="font-size: 17px;margin-bottom: 30px;">Domain Name + Web Hosting</p>
               </li>
              </ul>
              </div>
              
              <div class="col-sm-3" style="text-align: left;">
              
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-4 mb-4"></h5>
                
                <ul class="list-unstyled">
                <li style="font-size: 18px;display: flex;
                margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                  <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                  <p style="font-size: 17px;margin-bottom: 30px;">Company Name Approval
                 </p>
                </li>
                <li style="font-size: 18px;display: flex;
                margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                  <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                  <p style="font-size: 17px;margin-bottom: 10px;">PF + ESIC + Professional Tax Registration</p>
                </li>
                <li style="font-size: 18px;display: flex;
                margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                  <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                  <p style="font-size: 17px;margin-bottom: 30px;">Company TAN/TDS Number</p>
                </li>
                <li style="font-size: 18px;display: flex;
                margin-bottom: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                  <i class='far fa-check-circle' style="color: blue;font-size: 18px;margin-right: 10px;"></i>
                  <p style="font-size: 17px;margin-bottom: 30px;">+ 10 Email Ids for 1 year</p>
                </li>
                
                </ul>
              
              </div>
            </div>
          </div>
  
  <div class="container">
  <h3 style="text-align: center;margin-top:30px;margin-bottom: 50px;">FAQS</h3>
  
  <div class="faqs" style="margin: auto;">
    <div class="card">        
      <div class="card-header" style="background-color: white;">
         <ion-item lines="none">
              <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
              (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" >
                <p style="font-size: 16px;">1. What is Closure of One Person Company?
                </p>
              </div>
              <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
              (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
        <i [ngClass]="isGroupShown(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                 </div>
                </ion-item>
                </div>
      <div class="card-body" *ngIf="isGroupShown(i)" >                  
        <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
          When existence of the Company as a legal entity comes to an end it is known as the Closure of OPC.
        </p>                
    </div>
    </div>
    </div><br>
  
    <div class="faqs" style="margin: auto;">
      <div class="card">        
        <div class="card-header" style="background-color: white;">
           <ion-item lines="none">
                <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}" >
                  <p style="font-size: 16px;">2. What is the difference between Closure, Winding up, Dissolution of OPC?
                  </p>
                </div>
                <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}">
          <i [ngClass]="isGroupShown1(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                   </div>
                  </ion-item>
                  </div>
        <div class="card-body" *ngIf="isGroupShown1(i)" >                  
          <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
            - Closure of the company is done voluntarily and is done through the fast track exit scheme.
            - Winding up of the company may be voluntary or by the order of the Court by appointing an official liquidator to monitor the process of winding up.
            - Dissolution is initiated by the Court for ending the legal existence of the Company.
          </p>                
      </div>
      </div>
      </div><br>

      <div class="faqs" style="margin: auto;">
        <div class="card">        
          <div class="card-header" style="background-color: white;">
             <ion-item lines="none">
                  <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                  (click)="toggleGroup2(i)" [ngClass]="{active: isGroupShown2(i)}" >
                    <p style="font-size: 16px;">3. Why ROC filing is required for Closing of OPC?

                    </p>
                  </div>
                  <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                  (click)="toggleGroup2(i)" [ngClass]="{active: isGroupShown2(i)}">
            <i [ngClass]="isGroupShown(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                     </div>
                    </ion-item>
                    </div>
          <div class="card-body" *ngIf="isGroupShown2(i)" >                  
            <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
              It is necessary to file Closure with the ROC as ROC or MCA data base need to be updated and the Company is free from all 
              its legal compliances as it is officially closed.
              Even though business of the company is closed, unless closure documents are filed and approved by the ROC,
               company is not legally closed and the company needs to file all the regular returns.
            </p>                
        </div>
        </div>
        </div><br>

        <div class="faqs" style="margin: auto;">
          <div class="card">        
            <div class="card-header" style="background-color: white;">
               <ion-item lines="none">
                    <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                    (click)="toggleGroup3(i)" [ngClass]="{active: isGroupShown3(i)}" >
                      <p style="font-size: 16px;">4. What is Fast Track Exit (FTE) Scheme?
                      </p>
                    </div>
                    <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                    (click)="toggleGroup3(i)" [ngClass]="{active: isGroupShown3(i)}">
              <i [ngClass]="isGroupShown3(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                       </div>
                      </ion-item>
                      </div>
            <div class="card-body" *ngIf="isGroupShown3(i)" >                  
              <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                FTE is a company closure scheme initiated by MCA for easy and faster closure of Company.
              </p>                
          </div>
          </div>
          </div><br>

          <div class="faqs" style="margin: auto;">
            <div class="card">        
              <div class="card-header" style="background-color: white;">
                 <ion-item lines="none">
                      <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                      (click)="toggleGroup4(i)" [ngClass]="{active: isGroupShown4(i)}" >
                        <p style="font-size: 16px;">5. Which Company is eligible to apply for Closure of OPC?
                        </p>
                      </div>
                      <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                      (click)="toggleGroup4(i)" [ngClass]="{active: isGroupShown4(i)}">
                <i [ngClass]="isGroupShown4(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                         </div>
                        </ion-item>
                        </div>
              <div class="card-body" *ngIf="isGroupShown4(i)" >                  
                <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                  Any Company which is not a Section 8 Company and has been inoperative for more than 1 year from the date of its incorporation can apply for Closure of Company under FTE scheme.

                </p>                
            </div>
            </div>
            </div><br>

            <div class="faqs" style="margin: auto;">
              <div class="card">        
                <div class="card-header" style="background-color: white;">
                   <ion-item lines="none">
                        <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                        (click)="toggleGroup5(i)" [ngClass]="{active: isGroupShown5(i)}" >
                          <p style="font-size: 16px;">6. What are the expenses and cost involved in Closing OPC?
                          </p>
                        </div>
                        <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                        (click)="toggleGroup5(i)" [ngClass]="{active: isGroupShown5(i)}">
                  <i [ngClass]="isGroupShown5(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                           </div>
                          </ion-item>
                          </div>
                <div class="card-body" *ngIf="isGroupShown5(i)" >                  
                  <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                    The filing fees for Form FTE is Rs. 5000.
                    Fill the above details and submit. You will get documents in 1 minute.
                  </p>                
              </div>
              </div>
              </div><br>

              <div class="faqs" style="margin: auto;">
                <div class="card">        
                  <div class="card-header" style="background-color: white;">
                     <ion-item lines="none">
                          <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                          (click)="toggleGroup6(i)" [ngClass]="{active: isGroupShown6(i)}" >
                            <p style="font-size: 16px;">7. What documents are required for Closure of OPC?
                            </p>
                          </div>
                          <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                          (click)="toggleGroup6(i)" [ngClass]="{active: isGroupShown6(i)}">
                    <i [ngClass]="isGroupShown6(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                             </div>
                            </ion-item>
                            </div>
                  <div class="card-body" *ngIf="isGroupShown6(i)" >                  
                    <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                      Application for Striking off of the Company, Board Resolution for closure, Consent of Directors, Director's Affidavit, Indemnity Bond, Statement of Assets and Liabilities.

                    </p>                
                </div>
                </div>
                </div><br>

                
                <div class="faqs" style="margin: auto;">
                                    <div class="card">        
                    <div class="card-header" style="background-color: white;">
                       <ion-item lines="none">
                            <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                            (click)="toggleGroup7(i)" [ngClass]="{active: isGroupShown7(i)}" >
                              <p style="font-size: 16px;">8. What Forms to be filed for Closing Company under Easy Exit Scheme of ROC?
                              </p>
                            </div>
                            <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                            (click)="toggleGroup7(i)" [ngClass]="{active: isGroupShown7(i)}">
                      <i [ngClass]="isGroupShown7(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                               </div>
                              </ion-item>
                              </div>
                    <div class="card-body" *ngIf="isGroupShown7(i)" >                  
                      <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                        Form FTE


                      </p>                
                  </div>
                  </div>
                  </div><br>

                  <div class="faqs" style="margin: auto;">
                                        <div class="card">        
                      <div class="card-header" style="background-color: white;">
                         <ion-item lines="none">
                              <div  style="text-align: left;margin-bottom: 10px;margin-top: 10px;" 
                              (click)="toggleGroup8(i)" [ngClass]="{active: isGroupShown8(i)}" >
                                <p style="font-size: 16px;">9. What is time limit to file Closure documents with ROC?
                                </p>
                              </div>
                              <div style="margin-bottom: 10px;margin-top: 10px;" slot="end"
                              (click)="toggleGroup8(i)" [ngClass]="{active: isGroupShown8(i)}">
                        <i [ngClass]="isGroupShown8(i) ? 'fas fa-angle-up': 'fas fa-angle-down'" style="font-size: 20px;color: blue;"></i>
                                 </div>
                                </ion-item>
                                </div>
                      <div class="card-body" *ngIf="isGroupShown8(i)" >                  
                        <p class="card-text" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> 
                          The Form has to filled be filed with ROC office within 30 days from the date of Signing of the Statement of Assets and Liabilities.
                        </p>                
                    </div>
                    </div>
                    </div><br>
                  </div><br>
                  <br>
                    <br><br>

                    <footer class="page-footer font-small blue pt-4">

                      <!-- Footer Elements -->
                      <div class="container">
                    
                        <a class="navbar-brand">  
                          <img src="..//../assets/startup2.png" style="height: 40px;width: 180px;">
                          </a>
                        <!--Grid row-->
                        <div class="row">
                    
                          <!--Grid column-->
                          <div class="col-md-6 mb-4">
                    
                            <!-- Form -->
                            <form class="form-inline">
                              <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                                aria-label="Search">
                              <i class="fas fa-search" aria-hidden="true"></i>
                            </form>
                            <!-- Form -->
                    
                          </div>
                          <!--Grid column-->
                    
                          <!--Grid column-->
                          <div class="col-md-6 mb-4">
                    
                            <form class="input-group">
                              <input type="text" class="form-control form-control-sm mr-3 w-50" placeholder="Your email"
                                aria-label="Your email" aria-describedby="basic-addon2">
                              <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-white my-0" type="button">Send</button>
                              </div>
                            </form>
                    
                          </div>
                          <!--Grid column-->
                    
                        </div>
                        <!--Grid row-->
                    
                      </div>
                      <!-- Footer Elements -->
                    
                      <!-- Copyright -->
                      <div class="footer-copyright text-center py-2">© 2020 Copyright:
                        <a href="https://www.proacscentglobal.com/"> Proascent.com</a>
                      </div>
                      <!-- Copyright -->
                    
                    </footer>

  </ion-content>
  
  
  
  